<!DOCTYPE html>

<html>
<head>
<style>
body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
p, li{font-size: 16px; text-align: center;}
</style>
</head>
<body>
<h1>This is profile of : <%= person %></h1>
<p>He wants his profile to be like this only.</p>
<p><strong>His age is <%= data.age %> and he is a <%= data.job%></strong></p>
<p>Iterating through hobbies : <br></p>
<ul>
<% data.hobbies.forEach(function(item){ %>
	<li><%= item %></li>
	<% }); %>
</ul>
</body>
</html>
